#tabs {
background-image: linear-gradient(black, black);
width : 1000px; 
margin : auto;
 
}

#slogan {
display: block;
font-size: 40px;
color: grey;
font-family: "Times New Roman", Times, serif;
text-align:center;
}

#logo {
display: block;
float:  center;
margin: 0 auto;
height: 150px;
/* spécifiez la hauteur de l'image, une bonne attitude à prendre */
width: 300px;
/* spécifiez la largeur de l'image, une bonne habitude à prendre */
}

