
#tabs {
/*background-image: linear-gradient(#3d3644, #3d3644);*/
background: #000000 url(http://download.jqueryui.com/themeroller/images/ui-bg_loop_25_000000_21x21.png) 50% 50% repeat;
width : 1000px; 
margin : auto;
 
}

#slogan {
display: block;
font-size: 40px;
color: grey;
font-family: "Times New Roman", Times, serif;
text-align:center;
}

#logo {
display: block;
float:  center;
margin: 0 auto;
height: 200px;
/* spécifiez la hauteur de l'image, une bonne attitude à prendre */
width: 300px;
/* spécifiez la largeur de l'image, une bonne habitude à prendre */
}


