#{extends 'main.html' /} 
#{set title:'Home' /}

<!-- <h1>Salut tout le monde!</h1> -->

<!-- #{welcome /} -->
 
<ul id="menu">
 <li><a href="#">Item 1</a></li>
 <li><a href="#">Item 2</a></li>
 <li><a href="#">Item 3</a>
 <ul>
 <li><a href="#">Item 3-1</a></li>
 <li><a href="#">Item 3-2</a></li>
 <li><a href="#">Item 3-3</a></li>
 <li><a href="#">Item 3-4</a>
 <ul>
 <li><a href="#">Item 3-4-1</a></li>
 <li><a href="#">Item 3-4-2</a></li>
 <li><a href="#">Item 3-4-3</a></li>
 <li><a href="#">Item 3-4-4</a></li>
 <li><a href="#">Item 3-4-5</a></li>
 </ul>
 </li>
 <li><a href="#">Item 3-5</a></li>
 </ul>
 </li>
 <li><a href="#">Item 4</a></li>
 <li><a href="#">Item 5</a></li>
</ul>

<br/>
<br/>
<br/>
<img type="image/png"
	src="@{'/public/images/BO.png'}"/>

